fyne-cross/
bin/
tmpcelik/

bas-celik*
__debug_bin*
*.pdf
*.json
*.xlsx
*.tar.xz
*.exe
*.bin
*.o
*.obj
*.elf
*.so
*.so.*
*.dll
*.app
*.ber
*.cert
*.pub
*.priv
*.out
*.cov
*.log

main
.idea
.DS_Store
todo.md

!/embed/translation/*.json
